<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ورود</title>
    <link rel="stylesheet" href="static/css/login-fa.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <style>
        html,
        body {
            background-color: #0F0F0F !important;
        }
    </style>

</head>

<body>
    <div class="main-container">
        <div class="form-container">
            <h1>خوش آمدید</h1>
            <form method="POST" action="/login">
                <!-- <label for="username">نام کاربری</label> -->
                <input type="text" id="username" name="username" placeholder="نام کاربری خود را وارد کنید" required>
                <!-- <label for="password">گذرواژه</label> -->
                <input type="password" id="password" name="password" placeholder="گذرواژه خود را وارد کنید" required>
                <label style="display: block;">
                    <input type="checkbox" name="remember" value="yes"> مرا به خاطر بسپار
                </label>
                <button type="submit">ورود</button>
            </form>

        </div>

        <div class="image-container">
            <img src="{{ url_for('static', filename='logo-login.png') }}" alt="تصویر ورود">
            <div class="footer">
                <p>پنل وایرگارد توسط <a href="https://t.me/parszone_admin" target="_blank">پارس زون</a></p>
            </div>
        </div>
        <!-- <form method="POST" action="/set-language" id="language-form">
            <select name="language" class="language-selector"
                onchange="document.getElementById('language-form').submit()">
                <option value="en" {% if session['language']=='en' %}selected{% endif %}>English</option>
                <option value="fa" {% if session['language']=='fa' %}selected{% endif %}>فارسی</option>
            </select>
        </form> -->

    </div>
</body>

</html>